<div class="bg-light">
    <h1><%=t('welcome')%></h1>

    <h3><%= t('messages.welcome')%></h3>
    <h3><strong><%= t('messages.welcome2')%></strong></h3>

    <%= render 'menu' %>
</div>

<p>Idioma: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: </strong> <%= l(Date.today) %></p>
