<p id="notice"><%= notice %></p>

<h1>Minning Types</h1>

<table>
  <thead>
    <tr>
      <th><%= @minning_types.human_attribute_name(:description)%></th>
      <th><%= @minning_types.human_attribute_name(:acronym)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minning_types.each do |minning_type| %>
      <tr>
        <td><%= minning_type.description %></td>
        <td><%= minning_type.acronym %></td>
        <td><%= link_to 'Show', minning_type %></td>
        <td><%= link_to 'Edit', edit_minning_type_path(minning_type) %></td>
        <td><%= link_to 'Destroy', minning_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minning Type', new_minning_type_path %>
