<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @minning_type.description %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @minning_type.acronym %>
</p>

<%= link_to 'Edit', edit_minning_type_path(@minning_type) %> |
<%= link_to 'Back', minning_types_path %>
